.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: flex-end;
  cursor: pointer;
  background-color: #865bd9;
  color: white;
  padding: 2em;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  list-style-type: none;
}

ul li > * { text-decoration: none;
  color: white;

}

ul li > *:hover {
  color:blue
}

ul li:hover {
  color:blue
}
