.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  cursor: pointer;
  background-color: #865bd9;
  color: white;
  padding: 2em;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
